.account-settings {
  display: flex;
  padding-right: 80px;
  margin: 0 -80px;
  color: $brand-text;
  background-color: $light-gray-bg;
  @include media-breakpoint-down(xl) {
      padding-right: 45px;
      margin: 0 -45px;
  }
  @include media-breakpoint-down(lg) {
      padding-right: 20px;
      margin: 0 -20px;
  }
  @include media-breakpoint-down(sm) {
    padding: 0;
    margin: 0;
  }
  main {
    max-width: 1000px;
  }
  a {
    color: $brand-text;
  }
  .left-sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: $white;
    padding-top: 50px;
    @include media-breakpoint-down(md) {
      min-width: 220px;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .right-sidebar {
    margin-top: 50px;
  }
  .sidebar-list {
    padding: 0;
    &__item {
      position: relative;
      height: 47px;
      list-style-type: none;
      padding: 0 20px;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 95%;
        border-bottom: 1px solid $gray-100;
      }
      &-link {
        display: flex;
        align-items: center;
        height: 100%;
        color: $black-custom;
        opacity: 0.7;
        font-size: 16px;
        &--active {
          border-left: 5px solid $primary;
          padding-left: 15px;
        }
      }
    }
  }
  .help-block {
    &__title {
      color: $black-custom;
    }
    &__body {
      background-color: rgba(255,255,255,0.08);
      border: 1px solid #dfdfdf;
      padding: 16px 6px 4px 16px;
      &-item {
        &-icon{
          color: $gray-400;
          opacity: 1;
          font-size: 36px;
        }
        &-text {
          color: $black-custom;
          .gray {
            color: $black-custom;
          }
        }
      }
    }
  }
}

.amount-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 22px;
  max-height: 90px;
  &__text {
  }
  &__amount {
    margin-top: 5px;
    margin-bottom: 0;
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: $brand-light;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $gray-custom;
  border-radius: 8px;
  padding: 15px;
  max-height: 150px;
  &__title {
    color: $black;
    font-weight: 500;
  }
  &__input {
    border-radius: 4px;
    background-color: $white;
    border: 1px solid #E0E0E0;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    width: 100%;
    &.form-control:not(select) {
      padding-top: 0;
    }
  }
}

.info-container {
  background-color: $account-light;
  color: $black;
  border-radius: 8px;
  &__info {
    padding: 12px 18px;
  }
  &__text {
    padding: 12px 18px;
    background-color: $white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
    font-size: 14px;
  }
}

.questions-acr {
  background: transparent;
  color: $black-custom;
  border: 1px solid $gray-200;
  border-radius: 8px;
  &__item {
    position: relative;
    $self: &;
    &-toggle {
      height: 50px;
      width: 100%;
      border: none;
      background: transparent;
      color: $black-custom;
      text-align: left;
      padding: 0 20px;
    }
    &-icon {
      position: absolute;
      top: 8px;
      right: 15px;
      font-size: 35px;
      color: $gray-200;
      transition: transform 0.3s;
    }
    &-body {
      padding: 0 20px 10px 20px;
      &.show {
        + #{ $self }-icon {
          transform: rotate(180deg);
        }
      }
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid $gray-200;
    }
  }
}

.date-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 8px;
  background-color: $white;
  padding: 20px 22px;
  &__picker-wrp {
    position: relative;
    @include media-breakpoint-down(xs) {
      width: 100%;
      .react-datepicker-wrapper {
        width: 100%;
        input {
          max-width: unset;
          width: 100%;
        }
      }
    }
    &-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      color: $gray-500;
      font-size: 34px;
    }
  }
  @include media-breakpoint-down(sm) {
    .account-tabs {
      width: 100%;
      max-width: unset;
      margin-top: 15px;
      &__tab {
        width: calc(100% / 3);
      }
    }
  }
}

.react-datepicker {
  &__input-container {
    input {
      height: 36px;
      max-width: 110px;
      border: 1px solid #E0E0E0;
      border-radius: 4px;
      background-color: $gray-custom-100;
      font-size: 12px;
      padding-left: 8px;
      padding-right: 30px;
    }
  }
}

.account-tabs {
  display: inline-block;
  border: 0.5px solid $primary;
  border-radius: 8px;
  height: 36px;
  overflow: hidden;
  &--mx-205 {
    max-width: 205px;
  }
  &__tab {
    border: none;
    background-color: $white;
    height: 100%;
    font-size: 12px;
    color: rgba(0,0,0,0.8);
    font-weight: 500;
    padding: 0 10px;
    &--w-140 {
      width: 140px;
    }
    &.active {
      background-color: $primary;
    }
  }
}

.table-container {
  border-radius: 8px;
  overflow: hidden;
  background-color: $white;
  .table {
    background-color: $white;
    margin-bottom: 0;
    border-bottom: 1px solid $gray-200;
    thead {
      th {
        border-top: none;
        border-bottom: none;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    tbody {
      td {
        border-top: 1px solid $gray-200;
        font-size: 11px;
      }
    }
    th, td {
      padding: 16px 18px 12px 18px;
    }
    .heading-sm {
      display: none;
    }
  }
  &__info {
    border-radius: 8px;
    background-color: $account-light;
    color: $black;
    font-size: 12px;
    padding: 13px 18px 11px 18px;
    border-top: 1px solid $gray-200;
    margin-top: 25px;
    font-weight: 500;
  }
  @include media-breakpoint-down(xs) {
    .table {
      thead {
        display: none;
      }
      tbody, tr {
        display: flex;
        flex-direction: column;
        min-width: 0;
      }
      tr {
        border-bottom: 2px solid $gray-200;
      }
      .heading-sm {
        display: inline-block;
        width: 100px;
        font-size: 12px;
      }
    }
  }
}

.settings-card {
  position: relative;
  border: 1px solid $gray-200;
  color: $black;
  font-size: 12px;
  $self: &;
  &__header {
    position: relative;
    background-color: $gray-custom-200;
    border-bottom: 1px solid $gray-200;
    font-weight: 600;
    height: 44px;
    padding: 0;
    &.active {
      background-color: $white;
      border-bottom: none;
    }
    > a {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      left: 20px;
      right: 0;
      height: 100%;
      cursor: pointer;
    }
  }
  &__body {
    &.show {
      + #{ $self }__icon {
        transform: rotate(180deg);
      }
    }
  }
  &__icon {
    position: absolute;
    top: 8px;
    right: 10px;
    color: $gray-200;
    font-size: 28px;
    transition: transform 0.3s;
  }
}

.settings-radios {
  display: inline-flex;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 0;
  $self: &;
  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    background-color: $gray-custom-200;
    color: $brand-text;
    margin-bottom: 0;
    cursor: pointer;
  }
  &__input:checked {
      + #{ $self }__label {
        background-color: $brand-text;
        color: $white;
      }
  }
}