.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    max-height: 39px;
    i {
        font-size: 26px;
        line-height: 28px;
        margin-right: 6px;
    }
    &:focus,
    &:active {
        box-shadow: none !important;
    }
    &.btn-sm {
        max-height: 28px;
    }
    &.btn-lg {
        max-height: 48px;
    }
    &--small-radius {
      border-radius: 2px;
    }
}

.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
  color: $brand-text;
}

.btn-outline-light {
    &:hover,
    &:active,
    &:focus {
        color: $brand-text;
    }
}

.btn-light {
    &:hover,
    &:active,
    &:focus {
        background-color: $primary;
        color: $white;
    }
}