footer:not(.KambiBC-footer) {
    position: relative;
    @include full-bg($brand-light);
    @include media-breakpoint-down(lg) {
      &:before {
        z-index: 0;
      }
      .footer-main {
        position: relative;
        z-index: 1;
      }
    }
    .footer-pre {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% + 160px);
            border-bottom: 1px solid $light-spacer;
            @include media-breakpoint-down(xl) {
                width: calc(100% + 90px);
            }
            @include media-breakpoint-down(lg) {
                width: calc(100% + 40px);
            }
            @include media-breakpoint-down(sm) {
                content: none;
            }
        }
    }
    .footer-main {
        .footer-links-block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-basis: auto;
            flex-grow: 1;
            @include media-breakpoint-down(xl) {
              @include make-col(3);
            }
            @include media-breakpoint-down(md) {
                @include make-col(4);
            }
            @include media-breakpoint-down(sm) {
                @include make-col(12);
            }
        }
        .footer-social-block {
            @include make-col(5);
            height: 90%;
            @include media-breakpoint-down(xxlg) {
                @include make-col(5);
            }
            @include media-breakpoint-down(xl) {
              @include make-col(3);
            }
            @include media-breakpoint-down(md) {
                @include make-col(12);
                display: flex;
                justify-content: center;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: calc(100% + 40px);
                    border-top: 1px solid $light-spacer;
                }
            }
            @include media-breakpoint-down(sm) {
                 &:after {
                     content: none;
                 }
            }
            .section-social {
              @include make-col(6);
              @include media-breakpoint-down(xl) {
                @include make-col(12);
              }
            }
            .footer-info-text {
              @include make-col(6);
            }
        }
        .footer-offset-block {
            @include make-col-offset(2);
            @include media-breakpoint-down(xxlg) {
                @include make-col-offset(0)
            }
        }
    }
    .footer-sub {
        position: relative;
        width: calc(100% + 190px);
        left: 50%;
        transform: translateX(-50%);
        &.with-bottom-nav {
          padding-bottom: 100px;
        }
        @include media-breakpoint-down(xl) {
          width: calc(100% + 120px);
        }
        @include media-breakpoint-down(lg) {
          width: calc(100% + 70px);
        }
    }
}

.section-item {
    margin-bottom: 24px;
    color: $white-light;
    &__title {
        margin-bottom: 12px;
        a {
          color: $white-light;
        }
        &:after {
            content: none;
        }
        @include media-breakpoint-down(sm) {
            position: relative;
            padding: 0 20px;
            display: flex;
            align-items: center;
            height: 64px;
            margin-bottom: 0;
            border-bottom: 1px solid $light-spacer;
            font-weight: 400;
            &:after {
                font-family: 'icomoon';
                content: '\e976';
                border: none;
                position: absolute !important;
                top: 13px !important;
                right: 15px;
                font-size: 28px;
                color: #cccccc;
            }
            &[aria-expanded="true"] {
              &:after {
                transform: rotate(180deg);
              }
            }
        }
    }
    &__link {
        display: block;
        line-height: 25px;
        margin-bottom: 0;
        color: $white-light;
        margin-bottom: 5px;
        &:hover {
          color: $white;
        }
        @include media-breakpoint-down(sm) {
            height: 48px;
            line-height: 48px;
            margin-bottom: 0;
            &:not(:last-of-type) {
                border-bottom: 1px solid $light-spacer;
            }
        }
    }
    .dropdown-menu {
        position: static !important;
        transform: none !important;
        width: 100%;
        box-shadow: none;
        display: block;
        padding: 0;
        background-color: transparent;
        @include media-breakpoint-down(sm) {
            display: none;
            background-color: $brand;
            border-radius: 0;
            margin-top: 0;
            padding: 0 20px;
            opacity: 0;
            transition: opacity 0.6s;
            &.show {
                display: block;
                opacity: 1;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        width: calc(100% + 40px);
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 0;
    }
}

.section-social {
    padding: 0 10px 10px 10px;
    padding-left: 20px;
    border-left: 1px solid $light-spacer;
    color: $white-light;
    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: 0;
    }
    &__head-title {
        margin-bottom: 18px;
        color: $white;
    }
    &__title {
        font-weight: 500;
        margin-bottom: 12px;
    }

    &__app-img-cont {
        margin-bottom: 28px;
        &-img {
            margin-bottom: 8px;
        }
        @include media-breakpoint-down(lg) {
            margin-bottom: 12px;
        }
    }
    &__icons {
        &-link {
            font-size: 26px;
            color: $white;
            cursor: pointer;
            &:not(:last-of-type) {
                margin-right: 15px;
                @include media-breakpoint-down(lg) {
                    margin-right: 10px;
                }
            }
            &:hover {
                color: $white-light;
                text-decoration: none;
            }
            @include media-breakpoint-down(lg) {
                font-size: 23px;
            }
        }
    }
}

.footer-info-text {
  font-size: 12px;
  line-height: 21px;
  color: $white;
  opacity: 0.75;
}

.session-block {
    display: flex;
    align-items: center;
    i {
        font-size: 35px;
        color: $white-light;
    }
    &__text {
        color: rgba(255,255,255,0.45);
    }
    &__time {
        color: $white-light;
        font-weight: 500;
    }
}

.restrictions-block {
    display: flex;
    align-items: center;
    &__text {
        display: inline-block;
        max-width: 300px;
        color: $white-light;
    }
    &__img {
        margin-right: 10px;

    }
}

.footer-sub {
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 80px;
    background-color: $brand;
    @include media-breakpoint-down(xl) {
        padding: 0 45px;
    }
    @include media-breakpoint-down(lg) {
        padding: 0 20px;
    }
    @include media-breakpoint-down(md) {
        height: auto;
    }
    @include media-breakpoint-down(sm) {
        border-top: 1px solid $light-spacer;
    }
    &__title {
        color: $white-light;
    }
    &__nav {
        display: flex;
        margin-bottom: 0;
        padding-left: 0;
        color: $white;
        @include media-breakpoint-down(lg) {
          img {
            height: 36px;
          }
        }
        @include media-breakpoint-down(xs) {
          img {
            height: 30px;
          }
        }
        @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            height: 118px;
            &:last-of-type {
              border-top: 1px solid $light-spacer;
              padding-top: 10px;
            }
        }
        @include media-breakpoint-down(sm) {
            color: $black;
            font-size: 12px;
        }
        &-link {
            cursor: pointer;
            a,
            span {
              color: $white-light;
            }
            @include media-breakpoint-down(lg) {
              font-size: 12px;
            }
            @include media-breakpoint-down(md) {
                padding-top: 18px;
                &:nth-last-of-type(-n+2) {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
        &-link:not(:last-of-type) {
            margin-right: 30px;
            @include media-breakpoint-down(lg) {
              margin-right: 15px;
            }
            @include media-breakpoint-down(md) {
                margin-right: 0;
            }
        }
        li {
          list-style-type: none;
        }
    }
}