.lang-select-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: -80px;
  width: calc(100% + 160px);
  max-width: 100vw;
  background-color: $brand;
  overflow: hidden;
  @include media-breakpoint-down(xl) {
    margin-left: -45px;
    width: calc(100% + 90px);
  }
  @include media-breakpoint-down(lg) {
    margin-left: -20px;
    width: calc(100% + 40px);
  }
  @include media-breakpoint-down(md) {
    min-height: 800px;
  }
  .lang-figure-1 {
    position: absolute;
    bottom: 7.5vw;
    left: 0;
    width: 9vw;
    max-width: 175px;
    min-width: 125px;
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  .lang-figure-2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 18vw;
    max-width: 350px;
    min-width: 245px;
    @include media-breakpoint-down(md) {
      min-width: 220px;
    }
    @include media-breakpoint-down(xs) {
      transform: translateX(60px) translateY(-22px);
    }
  }
  .lang-info {
    position: absolute;
    bottom: 20px;
    left: 80px;
    @include media-breakpoint-down(lg) {
      left: 20px;
    }
    @include media-breakpoint-down(md) {
      left: 50%;
      transform: translateX(-50%);
      bottom: 100px;
      p {
        position: absolute;
        bottom: -90px;
        right: 28px;
        text-align: center;
        @include media-breakpoint-down(xs) {
          right: 50%;
          transform: translateX(50%);
        }
      }
    }
  }
  .lang-conditions {
    position: absolute;
    bottom: 20px;
    right: 80px;
    @include media-breakpoint-down(lg) {
      right: 20px;
    }
    @include media-breakpoint-down(md) {
      right: unset;
      bottom: 40px;
    }
  }
}

.lang-cards {
  position: relative;
  display: flex;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  @include media-breakpoint-down(xs) {
    width: 92%;
  }
  .lang-select-logo {
    position: absolute;
    top: -190px;
    left: 50%;
    transform: translateX(-50%);
    width: 255px;
    @include media-breakpoint-down(xs) {
      top: -125px;
      width: 165px;
    }
  }
}

.lang-card {
  width: 345px;
  background-color: $white;
  border-radius: 8px;
  margin: 0 8px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow: hidden;
  @include media-breakpoint-down(lg) {
    width: 315px;
  }
  @include media-breakpoint-down(md) {
    width: 475px;
    margin: 0;
    margin-bottom: 8px;
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
  &__header {
    background-color: $gray-custom-200;
    color: $gray-800;
    padding: 24px;
    margin-bottom: 0;
  }
  &__body {
    padding: 16px;
  }
}

.lang-info {
  @include media-breakpoint-down(xs) {
    width: 90%;
  }
  &__img {
    width: 37px;
    margin-right: 8px;
  }
  &__text {
    font-size: 11px;
    line-height: 1.5;
    color: rgba($white, 0.6);
    width: 400px;
    @include media-breakpoint-down(xs) {
      font-size: 9px;
    }
    &--big {
      font-size: 12px;
    }
  }
}

.lang-conditions {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  @include media-breakpoint-down(md) {
    width: 100%;
    text-align: center;
  }
  @include media-breakpoint-down(xs) {
    font-size: 12px;
    max-width: 320px;
  }
  a {
    padding: 0 16px;
    color: $white;
    word-break: break-all;
    line-height: 1.7;
    &:hover,
    &:active,
    &:focus {
      color: rgba($white, 0.7);
    }
  }
  a:not(:last-of-type) {
    border-right: 1px solid $white;
  }
  @include media-breakpoint-down(xs) {
    a:nth-of-type(2) {
      border-right: none;
    }
  }
}
