.login-dropdown {
    position: relative;
    top: 5px;
    @include media-breakpoint-down(lg) {
      top: 0;
    }
    &__toggle {
      min-height: 44px;
      border-radius: 16px;
      padding: 0 20px;
      font-size: 13px;
      &:after {
          content: none;
      }
    }
    &__menu {
        top: 55px;
        left: auto;
        right: 0;
        width: 365px;
        padding: 25px 15px;
        box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.3);
        &:after {
            content: '';
            position: absolute;
            top: -7px;
            right: 7%;
            width: 0; 
            height: 0; 
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $white;
            border-radius: 2px;
        }
        &-form {
            border-bottom: 1px solid $gray-100;
        }
        &-link {
            color: $brand-text;
        }
        .icon-tooltip {
          transform: translateY(-2px);
        }
        @include media-breakpoint-down(lg) {
            left: -187%;
            top: 55px;
            &:after {
                right: 21%;
            }
        }
        @include media-breakpoint-down(xs) {
            left: -174%;
            width: 96vw;
            max-width: 365px;
            &:after {
                left: 70.5%;
            }
        }
        @media only screen and (max-width: 375px) {
          position: fixed;
          left: 50%;
          transform: translateX(-50%);
          top: 72px;
          &:after {
            right: 87px;
            left: unset;
          }
        }
    }
    &.show {
      z-index: 1100;
    }
}

.lottery-club {
    display: flex;
    background-color: $gray-custom-200;
    border-radius: 8px;
    padding: 15px 5px;
    &__text {
        color: $black;
    }
}