@mixin full-bg($color) {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -80px;
    right: -80px;
    bottom: 0;
    background-color: $color;
    z-index: -1;
    @include media-breakpoint-down(xl) {
      left: -45px;
      right: -45px;
    }
    @include media-breakpoint-down(lg) {
        left: -20px;
        right: -20px;
    }
  }
}