.promo-button {
  border: 2px solid $primary;
  padding: 8px 24px;
  color: $white;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 20px;
  transition: background-color 0.2s;
  &:hover,
  &:active,
  &:focus {
    background-color: $primary;
    color: $white;
  }
}

.promotions-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1180px;
  margin: auto;
  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }
}

.promotion-block {
  position: relative;
  flex-basis: calc(50% - 20px);
  margin: 10px;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  $self: &;
  @include media-breakpoint-down(xs) {
    margin: 8px 0;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.15);
    opacity: 0;
    transition: opacity 0.2s;
  }
  &:hover,
  &:active,
  &:focus {
    &:after {
      opacity: 1;
    }
    #{ $self }__body-button {
      background-color: $primary;
    }
  }
  &__img {
    max-width: 100%;
  }
  &__body {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    text-align: center;
    width: 38%;
    @include media-breakpoint-down(sm) {
      width: 40%;
    }
    @include media-breakpoint-down(xs) {
      width: 35%;
      right: 8%;
    }
    &-subtitle {
      @include text-overflow(2);
      font-size: 27px;
      color: $orange;
      margin-bottom: 4px;
      @media only screen and (max-width: 1179.8px) {
        font-size: 2.4vw;
      }
      @include media-breakpoint-down(xs) {
        font-size: 4vw;
      }
    }
    &-title {
      @include text-overflow(3);
      color: $white;
      font-size: 42px;
      line-height: 1;
      margin-bottom: 10px;
      @media only screen and (max-width: 1179.8px) {
        font-size: 3.8vw;
        @include text-overflow(2);
      }
      @include media-breakpoint-down(xs) {
        @include text-overflow(3);
        font-size: 6.4vw;
      }
    }
    &-button {
      @include text-overflow-1(100%);
      @media only screen and (max-width: 1179.8px) {
        font-size: 1.7vw;
      }
      @include media-breakpoint-down(xs) {
        font-size: 3vw;
      }
    }
  }
  &--sm {
    margin: 0;
    flex-basis: unset;
    &:after {
      display: none;
    }
    #{ $self }__img {
      @include media-breakpoint-up(sm) {
        max-width: 115% !important;
        transform: translateX(-15px);
      }
    }
    #{ $self }__body {
      @include media-breakpoint-up(sm) {
        right: 6%;
      }
      &-subtitle {
        font-size: 14px;
        @include media-breakpoint-down(xs) {
          font-size: 18px;
        }
      }
      &-title {
        font-size: 18px;
        @include media-breakpoint-down(xs) {
          font-size: 22px;
        }
      }
      &-button {
        display: none;
      }
    }
  }
}

.promo-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -40%;
  width: calc(100% + 80%);
  margin-top: 15px;
  @include media-breakpoint-down(xl) {
    margin-left: -20%;
    width: calc(100% + 40%);
  }
  @include media-breakpoint-down(lg) {
    margin-left: 0;
    width: 100%;
  }
  .promo-card {
    display: flex;
    flex-direction: column;
    flex-basis: calc(25% - 8px);
    margin: 4px;
    background-color: $white;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    overflow: hidden;
    @include media-breakpoint-down(lg) {
      flex-basis: calc(50% - 8px);
    }
    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
      margin: 8px 0;
    }
    &__body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 12px 16px;
      &-title {
        font-size: 16px;
        color: rgba($black, 0.87);
        font-weight: 600;
        margin-bottom: 4px;
      }
      &-subtitle {
        font-size: 12px;
        color: $gray-500;
        font-weight: 500;
        margin-bottom: 8px;
      }
      &-text {
        font-size: 14px;
        color: $gray-700;
        margin-bottom: 15px;
      }
    }
  }
}

.promotion-inner {
  &__banner {
    position: relative;
    &-img {
      margin-left: -80px;
      width: calc(100% + 160px);
      max-width: 100vw;
      @include media-breakpoint-down(xl) {
        margin-left: -45px;
        width: calc(100% + 90px);
      }
      @include media-breakpoint-down(lg) {
        margin-left: -20px;
        width: calc(100% + 40px);
      }
    }
  }
  &__body {
    padding: 40px 0;
    @include media-breakpoint-down(xs) {
      padding-top: 30px;
    }
    &-short {
      font-size: 20px;
      color: $gray-400;
      margin-bottom: 24px;
    }
    img {
      max-width: 100% !important;
      height: auto !important;
    }
    .steps {
      border-top: 1px solid $gray-200;
      border-bottom: 1px solid $gray-200;
      margin: 30px 0;
      div:not(:last-of-type) {
        border-bottom: 1px solid $gray-200;
      }
      .step {
        position: relative;
        padding: 25px 20px 25px 65px;
        .step-num {
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
          font-family: 'Anton', sans-serif;
          color: $brand-light;
          font-size: 42px;
          line-height: 1;
        }
        .step-text {
          margin-bottom: 0;
          font-family: 'Roboto', sans-serif;
        }
      }
    }
    .terms {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      margin-top: 5px;
      .terms-toggle {
        font-size: 16px;
        color: $primary;
        font-weight: 700;
        cursor: pointer;
        &:before {
          content: "+";
          display: inline-block;
          font-size: 30px;
          font-weight: 400;
          transform: translateX(-7px) translateY(4px);
        }
        &:active,
        &:hover,
        &:focus,
        &.active {
          color: $brand-light;
        }
        &.active {
          &:before {
            content: "-";
          }
        }
      }
      .terms-body {
        margin-top: 15px;
        max-height: 0;
        transition: max-height 0.6s;
        overflow: hidden;
        &.show {
          max-height: 3000px;
          transition: max-height 2s;
        }
      }
    }
    ul {
      li {
        margin-bottom: 5px;
      }
    }
  }
  .promo-bg-text {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    @include media-breakpoint-down(xs) {
      top: 26%;
      right: 50%;
      transform: translateY(-50%) translateX(50%);
    }
  }
}

.promo-bg-text {
  width: 440px;
  font-family: 'Anton', sans-serif;
  text-align: center;
  text-transform: uppercase;
  @include media-breakpoint-down(xxxlg) {
    width: 25%;
  }
  @include media-breakpoint-down(xs) {
    width: 55%;
  }
  &__subtitle {
    @include text-overflow(2);
    font-size: 60px;
    color: $orange;
    margin-bottom: 4px;
    @include media-breakpoint-down(xxxlg) {
      font-size: 3vw;
    }
    @include media-breakpoint-down(xs) {
      font-size: 6vw;
    }
  }
  &__title {
    @include text-overflow(3);
    font-size: 100px;
    color: $white;
    line-height: 1;
    margin-bottom: 16px;
    @include media-breakpoint-down(xxxlg) {
      font-size: 5vw;
    }
    @include media-breakpoint-down(xs) {
      font-size: 11vw;
    }
  }
  &__button {
    @include text-overflow-1(100%);
    font-size: 39px;
    @include media-breakpoint-down(xxxlg) {
      font-size: 2.2vw;
    }
    @include media-breakpoint-down(xs) {
      font-size: 6.5vw;
      padding: 10px 24px;
    }
  }
}

.promo-container {
  width: 70%;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}