@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/fonts/icomoon.eot?jv2j9t');
  src:  url('../fonts/icons/fonts/icomoon.eot?jv2j9t#iefix') format('embedded-opentype'),
    url('../fonts/icons/fonts/icomoon.ttf?jv2j9t') format('truetype'),
    url('../fonts/icons/fonts/icomoon.woff?jv2j9t') format('woff'),
    url('../fonts/icons/fonts/icomoon.svg?jv2j9t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-full-screen:before {
  content: "\e900";
}
.icon-favourite-off:before {
  content: "\e901";
}
.icon-favourite-on:before {
  color: #DE3163;
  content: "\e902";
}
.icon-alert:before {
  content: "\e903";
}
.icon-arrow-dropdown:before {
  content: "\e904";
}
.icon-bell:before {
  content: "\e905";
}
.icon-bonuses:before {
  content: "\e906";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-cash:before {
  content: "\e908";
}
.icon-categories:before {
  content: "\e909";
}
.icon-lock:before {
  content: "\e90a";
}
.icon-support:before {
  content: "\e90b";
}
.icon-down:before {
  content: "\e90c";
}
.icon-left:before {
  content: "\e90d";
}
.icon-right:before {
  content: "\e90e";
}
.icon-up:before {
  content: "\e90f";
}
.icon-circle-close:before,
.icon-danger:before,
.icon-exclamation:before {
  content: "\e910";
}
.icon-circle-check:before,
.icon-success:before,
.icon-check:before {
  content: "\e911";
}
.icon-circle-help:before {
  content: "\e912";
}
.icon-circle-info:before,
.icon-info:before {
  content: "\e913";
}
.icon-circle-minus:before {
  content: "\e914";
}
.icon-circle-plus:before {
  content: "\e915";
}
.icon-circus-club:before {
  content: "\e916";
}
.icon-close:before {
  content: "\e917";
}
.icon-dashboard:before {
  content: "\e918";
}
.icon-delete:before {
  content: "\e919";
}
.icon-deposit:before {
  content: "\e91a";
}
.icon-documents:before {
  content: "\e91b";
}
.icon-edit:before {
  content: "\e91c";
}
.icon-email:before {
  content: "\e91d";
}
.icon-facebook:before {
  content: "\e91e";
}
.icon-filters:before {
  content: "\e91f";
}
.icon-free-spins:before {
  content: "\e920";
}
.icon-rounds:before {
  content: "\e921";
}
.icon-games:before {
  content: "\e922";
}
.icon-jackpots:before {
  content: "\e923";
}
.icon-language:before {
  content: "\e924";
}
.icon-limits:before {
  content: "\e925";
}
.icon-live-casino:before {
  content: "\e926";
}
.icon-casino-lobby:before {
  content: "\e927";
}
.icon-logout:before {
  content: "\e928";
}
.icon-account:before {
  content: "\e929";
}
.icon-nav:before {
  content: "\e92a";
}
.icon-new:before {
  content: "\e92b";
}
.icon-newsletter:before {
  content: "\e92c";
}
.icon-offers:before {
  content: "\e92d";
}
.icon-order-sort:before {
  content: "\e92e";
}
.icon-other:before {
  content: "\e92f";
}
.icon-parcel:before {
  content: "\e930";
}
.icon-profile:before {
  content: "\e931";
}
.icon-providers:before {
  content: "\e932";
}
.icon-rating-empty:before {
  content: "\e933";
}
.icon-rating-full:before {
  content: "\e934";
}
.icon-rating-half:before {
  content: "\e935";
}
.icon-rewards:before {
  content: "\e936";
}
.icon-scratch:before {
  content: "\e937";
}
.icon-search:before {
  content: "\e938";
}
.icon-more:before {
  content: "\e939";
}
.icon-show-all:before {
  content: "\e93a";
}
.icon-slots:before {
  content: "\e93b";
}
.icon-table-games:before {
  content: "\e93c";
}
.icon-tokens:before {
  content: "\e93d";
}
.icon-top:before {
  content: "\e93e";
}
.icon-transactions:before {
  content: "\e93f";
}
.icon-verification:before {
  content: "\e940";
}
.icon-video-poker:before {
  content: "\e941";
}
.icon-visibility-off:before,
.icon-eye-off:before {
  content: "\e942";
}
.icon-visibility-on:before,
.icon-eye-on:before {
  content: "\e943";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-live-sports:before {
  content: "\e944";
}
.icon-sports:before {
  content: "\e945";
}
