@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/fonts/icomoon.eot?1p6xf9');
  src:  url('../fonts/icons/fonts/icomoon.eot?1p6xf9#iefix') format('embedded-opentype'),
    url('../fonts/icons/fonts/icomoon.ttf?1p6xf9') format('truetype'),
    url('../fonts/icons/fonts/icomoon.woff?1p6xf9') format('woff'),
    url('../fonts/icons/fonts/icomoon.svg?1p6xf9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
  content: "\e913";
}
.icon-account:before {
  content: "\e961";
}
.icon-account1:before {
  content: "\e909";
}
.icon-account2:before {
  content: "\e91f";
}
.icon-all:before {
  content: "\e93b";
}
.icon-appleinc:before {
  content: "\e936";
}
.icon-arrow-label:before {
  content: "\e971";
}
.icon-balance:before {
  content: "\e91d";
}
.icon-bell:before {
  content: "\e904";
}
.icon-bets:before {
  content: "\e939";
}
.icon-calendar:before {
  content: "\e973";
}
.icon-calendar1:before {
  content: "\e974";
}
.icon-card:before {
  content: "\e963";
}
.icon-casino:before {
  content: "\e942";
}
.icon-success:before,
.icon-check:before {
  content: "\e952";
}
.icon-clock:before {
  content: "\e92c";
}
.icon-clock1:before {
  content: "\e988";
}
.icon-clock2:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e964";
}
.icon-cookies:before {
  content: "\e989";
}
.icon-date-navigation:before {
  content: "\e953";
}
.icon-delete:before {
  content: "\e975";
}
.icon-deposit:before {
  content: "\e900";
}
.icon-documents:before {
  content: "\e92d";
}
.icon-documents1:before {
  content: "\e908";
}
.icon-down:before {
  content: "\e965";
}
.icon-down1:before {
  content: "\e976";
  font-size: 16px;
}
.icon-down2:before {
  content: "\e914";
  font-size: 16px;
}
.icon-download:before {
  content: "\e966";
}
.icon-danger:before,
.icon-exclamation:before {
  content: "\e918";
}
.icon-eye-off:before {
  content: "\e90e";
  font-size: 20px;
}
.icon-eye-off1:before {
  content: "\e977";
}
.icon-eye-on1:before {
  content: "\e978";
}
.icon-eye-on:before {
  content: "\e90f";
  font-size: 20px;
}
.icon-facebook:before {
  content: "\e92e";
}
.icon-facebook1:before {
  content: "\e983";
}
.icon-favorite:before {
  content: "\e912";
}
.icon-favorite-off:before {
  content: "\e90d";
}
.icon-favorite-on:before {
  content: "\e910";
}
.icon-favourite-off:before {
  content: "\e94d";
}
.icon-favourite-on:before {
  content: "\e94c";
}
.icon-featured:before {
  content: "\e944";
}
.icon-filter:before {
  content: "\e94e";
}
.icon-full-screen:before {
  content: "\e940";
}
.icon-game-info .path1:before {
  content: "\e916";
  color: rgb(51, 51, 51);
}
.icon-game-info .path2:before {
  content: "\e917";
  margin-left: -1.03125em;
  color: rgb(255, 255, 255);
}
.icon-home:before {
  content: "\e937";
}
.icon-home1:before {
  content: "\e95d";
}
.icon-in-play:before {
  content: "\e93a";
}
.icon-instagram:before {
  content: "\e986";
}
.icon-jackpot:before {
  content: "\e94b";
}
.icon-last-bulletin:before {
  content: "\e968";
}
.icon-left:before {
  content: "\e969";
  font-size: 16px;
}
.icon-left1:before {
  content: "\e979";
  font-size: 16px;
}
.icon-linkedin:before {
  content: "\e987";
}
.icon-livedealer:before {
  content: "\e949";
}
.icon-lobby:before {
  content: "\e943";
}
.icon-lock:before {
  content: "\e915";
}
.icon-logout:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e982";
}
.icon-mail1:before {
  content: "\e905";
}
.icon-maximise:before {
  content: "\e97a";
}
.icon-megaways:before {
  content: "\e948";
}
.icon-menu:before {
  content: "\e96a";
}
.icon-menu-close:before {
  content: "\e96b";
}
.icon-menu1:before {
  content: "\e951";
  font-size: 24px;
}
.icon-new:before {
  content: "\e945";
}
.icon-phone:before {
  content: "\e959";
}
.icon-phone-mobile:before {
  content: "\e95a";
}
.icon-phone1:before {
  content: "\e906";
}
.icon-phone2:before {
  content: "\e927";
}
.icon-plus:before {
  content: "\e93e";
}
.icon-plus1:before {
  content: "\e962";
}
.icon-plus2:before {
  content: "\e970";
}
.icon-promo:before {
  content: "\e930";
}
.icon-promo1:before {
  content: "\e903";
}
.icon-questions:before {
  content: "\e95b";
}
.icon-questions1:before {
  content: "\e907";
}
.icon-questions2:before {
  content: "\e92b";
}
.icon-recent:before {
  content: "\e98b";
}
.icon-redirect:before {
  content: "\e95c";
}
.icon-reset:before {
  content: "\e96d";
}
.icon-responsible:before {
  content: "\e920";
}
.icon-responsible1:before {
  content: "\e90b";
}
.icon-right:before {
  content: "\e96e";
  font-size: 16px;
}
.icon-right1:before {
  content: "\e911";
  font-size: 16px;
}
.icon-search:before {
  content: "\e941";
}
.icon-search1:before {
  content: "\e97d";
}
.icon-slots:before {
  content: "\e947";
}
.icon-sports:before {
  content: "\e93c";
}
.icon-sports1:before {
  content: "\e93d";
}
.icon-star:before {
  content: "\e901";
}
.icon-star1:before {
  content: "\e922";
}
.icon-statistics:before {
  content: "\e97e";
}
.icon-stop:before {
  content: "\e97f";
}
.icon-table-games:before {
  content: "\e94a";
}
.icon-thumbs:before {
  content: "\e95f";
}
.icon-tooltip:before {
  content: "\e960";
}
.icon-tooltip1:before {
  content: "\e921";
}
.icon-top:before {
  content: "\e946";
}
.icon-twitter:before {
  content: "\e96c";
}
.icon-up:before {
  content: "\e96f";
}
.icon-up1:before {
  content: "\e90c";
}
.icon-video:before {
  content: "\e981";
}
.icon-windows8:before {
  content: "\e935";
}
.icon-withdraw:before {
  content: "\e91c";
}
.icon-youtube:before {
  content: "\e984";
}
.icon-transparent:before {
  content: "\e984";
  color: transparent;
}
