@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/fonts/icomoon.eot?1p6xf9');
  src:  url('../fonts/icons/fonts/icomoon.eot?1p6xf9#iefix') format('embedded-opentype'),
    url('../fonts/icons/fonts/icomoon.ttf?1p6xf9') format('truetype'),
    url('../fonts/icons/fonts/icomoon.woff?1p6xf9') format('woff'),
    url('../fonts/icons/fonts/icomoon.svg?1p6xf9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
  content: "\eac0";
}
.icon-check:before,
.icon-success:before {
  content: "\e952";
}
.icon-exclamation:before,
.icon-danger:before,
.icon-warning:before {
  content: "\e954";
}
.icon-lock1:before {
  content: "\e956";
  color: #27a9e0;
}
.icon-redirect {
  content: "\e95c";
}
.icon-tooltip:before {
  content: "\e960";
}
.icon-add-action-1:before {
  content: "\e962";
}
.icon-rwb-download:before {
  content: "\e966";
}
.icon-left:before {
  content: "\e969";
}
.icon-right:before {
  content: "\e96e";
}
.icon-rwb-down1:before {
  content: "\e976";
}
.icon-eye-off:before {
  content: "\e977";
}
.icon-linkedin:before {
  content: "\e987";
}
.icon-cookies:before {
  content: "\e989";
}
.icon-rwb-windows8:before {
  content: "\e935";
}
.icon-rwb-appleinc:before {
  content: "\e936";
}
.icon-rwb-youtube:before {
  content: "\e91e";
}
.icon-rwb-account:before {
  content: "\e91f";
}
.icon-rwb-responsible:before {
  content: "\e920";
}
.icon-rwb-tooltip:before {
  content: "\e921";
}
.icon-rwb-star:before {
  content: "\e922";
}
.icon-rwb-twitter:before {
  content: "\e923";
}
.icon-rwb-eye-on:before {
  content: "\e924";
}
.icon-rwb-deposit:before {
  content: "\e925";
}
.icon-rwb-mail:before {
  content: "\e926";
}
.icon-rwb-phone:before {
  content: "\e927";
}
.icon-rwb-logout:before {
  content: "\e928";
}
.icon-rwb-insta:before {
  content: "\e929";
}
.icon-rwb-bell:before {
  content: "\e92a";
}
.icon-rwb-questions:before {
  content: "\e92b";
}
.icon-rwb-clock:before {
  content: "\e92c";
}
.icon-rwb-documents:before {
  content: "\e92d";
}
.icon-rwb-facebook:before {
  content: "\e92e";
}
.icon-rwb-eye-off:before {
  content: "\e92f";
}

.icon-rwb-promo:before {
  content: "\e930";
}
.icon-rwb-withdraw:before,
.icon-rwb-withdrawable_balance:before,
 {
  content: "\e931";
}
.icon-rwb-bonus_balance:before {
  content: "\e932";
}
.icon-rwb-lock:before,
.icon-rwb-locked_balance:before {
  content: "\e933";
}
.icon-rwb-balance:before,
.icon-rwb-playable_balance:before {
  content: "\e934";
}
.icon-rwb-home:before {
  content: "\e937";
}
.icon-rwb-soon:before {
  content: "\e938";
}
.icon-rwb-bets:before {
  content: "\e939";
}
.icon-rwb-in-play:before {
  content: "\e93a";
}
.icon-rwb-all:before {
  content: "\e93b";
}
.icon-rwb-sports:before {
  content: "\e93d";
}
.icon-rwb-plus:before {
  content: "\e93f";
}
.icon-rwb-jackpot:before {
  content: "\e94b";
}
.icon-rwb-table-games:before {
  content: "\e94a";
}
.icon-rwb-livedealer:before {
  content: "\e949";
}
.icon-rwb-megaways:before {
  content: "\e948";
}
.icon-rwb-slots:before {
  content: "\e947";
}
.icon-rwb-top:before {
  content: "\e946";
}
.icon-rwb-new:before {
  content: "\e945";
}
.icon-rwb-featured:before {
  content: "\e944";
}
.icon-rwb-lobby:before {
  content: "\e943";
}
.icon-rwb-casino:before {
  content: "\e942";
}
.icon-rwb-search:before,
.icon-search:before {
  content: "\e941";
}
.icon-rwb-full-screen:before,
.icon-full-screen:before {
  content: "\e940";
}
.icon-rwb-favourite-on:before,
.icon-favourite-on:before {
  color: #DE3163;
  content: "\e94c";
}
.icon-rwb-favourite-off:before,
.icon-favourite-off:before {
  content: "\e94d";
}
.icon-rwb-filter:before,
.icon-filter:before {
  content: "\e94e";
}
.icon-rwb-right:before {
  content: "\e94f";
}
.icon-rwb-left:before,
.icon-left:before {
  content: "\e950";
}
.icon-rwb-menu:before {
  content: "\e951";
}
.icon-rwb-game-info .path1:before {
  content: "\e955";
  color: rgb(51, 51, 51);
}
.icon-rwb-game-info .path2:before {
  content: "\e958";
  margin-left: -1.03125em;
  color: rgb(255, 255, 255);
}
.icon-rwb-home1:before {
  content: "\e95d";
}
.icon-rwb-down:before {
  content: "\e95e";
}
.icon-rwb-up:before {
  content: "\e96c";
}
.icon-rwb-close:before,
.icon-close:before {
  content: "\e98a";
}
.icon-rwb-recent:before {
  content: "\e98b";
}
