.sb-iframe {
  position: relative !important;
  z-index: 2 !important;
  width: calc(100% + 160px) !important;
  right: 80px !important;
  @include media-breakpoint-down(xl) {
    width: calc(100% + 90px) !important;
    right: 45px !important;
  }
  @include media-breakpoint-down(lg) {
    width: calc(100% + 40px) !important;
    right: 20px !important;
  }
  &-container {
    overflow-y: hidden !important;
  }
  border: none;
  width: 100%;
  height: 100vh;
}

.page-loading-spinner {
  position: relative;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: $white;
  z-index: 9999;
  .spinner-img {
    width: 160px;
    height: 160px;
    margin: auto;
    transform: translateY(-14px);
  }
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translateY(-50%) translateX(-50%);
    background-color: rgba(14, 229, 111, 0.06);
    border-radius: 50%;
    box-shadow: 0px 0px 100px 100px rgb(14 229 107 / 6%);
  }
}

.grecaptcha-badge {
  z-index: 1;
}

.visibility-hidden {
  visibility: hidden;
}

.d-contents {
  display: contents;
}

noscript {
  position: relative;
  display: block;
  text-align: center;
  top: 4vw;
  font-size: 1.5vw;
  @include media-breakpoint-down(sm) {
    top: 28px;
    font-size: 18px;
    line-height: 1.5;
  }
}

.styled-nav-item.dropdown .dropdown-toggle:after {
  content: '\e965';
  font-family: 'icomoon';
  top: 0;
  border: none;
  font-size: 20px;
  vertical-align: middle;
}
.user-menu__list-item-link--toggler {
  .user-menu__list-item-link:after {
    font-family: "icomoon";
    content: '\e976';
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 28px;
    color: #ccc;
    cursor: pointer;
  }
}
.icon-eye-off.show:before {
  content: '\e978';
}
@include media-breakpoint-down(sm) {
  .section-item-title--toggler:after{
    font-family: 'icomoon';
    content: '\e976';
    border: none;
    position: absolute !important;
    top: 13px !important;
    right: 15px;
    font-size: 28px;
    color: #cccccc;
  }
}
