.form-group {
    position: relative;
    $self: &;
    .form-control-wrp {
      position: relative;
    }
    .form-control:not(select) {
        padding-top: 17px;
        + label {
            position: absolute;
            top: 12px;
            left: 12px;
            color: $gray-700;
            pointer-events: none;
            transition: all 0.3s;
        }
        &:focus,
        &:active,
        &:not(:placeholder-shown) {
            + label {
                font-size: 9px;
                top: 4px;
            }
        }
        &.form-control-sm {
          padding-top: 12px;
          + label {
            top: 8px;
            left: 8px;
          }
        }
        &:focus,
        &:active,
        &:not(:placeholder-shown),
        &:-webkit-autofill {
            + label {
                font-size: 9px !important;
                top: 4px;
            }
        }
        &::-ms-reveal {
          display: none;
        }
    }
    .form-control {
      @supports (-webkit-touch-callout: none) {
        font-size: 16px;
      }
    }
    select.form-control {
      padding-left: 8px;
    }
    &__icons {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        display: flex;
        align-items: center;
        font-size: 32px;
        border: 12px solid transparent;
        border-right: 0;
        .icon-eye-off {
            color: $brand-light;
            cursor: pointer;
            &.show {
              &:before {
                content: '\e978';
              }
            }
        }
        .icon-check {
            display: none;
            color: $success-alt;
        }
        .icon-exclamation {
            display: none;
            color: $danger;
        }
        .tooltip-custom {
            margin-right: 4px;
        }
        .spinner-border {
          position: relative;
          right: 8px;
        }
    }
    select,
    select.is-invalid {
      + #{ $self }__icons {
        right: 10px; 
      }
    }
    &__error-msg {
        display: none;
        font-size: 12px;
        color: $danger;
        margin-top: 3px;
        text-align: left;
    }
    &.success {
        #{ $self }__icons {
            right: 0;
            .icon-check {
                display: inline-block;
            }
        }
    }
    &.has-error {
        input,
        textarea,
        select {
            border: 1px solid $danger;
            background-image: none;
            background-color: $danger-bg;
            color: $danger;
            + label {
              color: $danger;
            }
        }
        #{ $self }__icons {
            right: 0;
            .icon-exclamation {
                display: inline-block;
            }
            .icon-eye-off,
            .icon-eye-on {
                position: relative;
                right: -6px;
            }
        }
        #{ $self }__error-msg {
            display: block;
        }
    }
    &.has-error.with-message {
      #{ $self }__icons {
        top: 50%;
      }
    }
}

.form-control:disabled {
  background-color: $gray-100;
}

.invalid-feedback {
  font-size: 12px;
}

.react-datepicker-wrapper {
  .form-group {
    .form-control {
      max-width: unset;
      border-color: $gray-200;
      height: 38px;
      padding-left: 12px;
      font-size: 15px;
      background-color: $gray-custom-100;
      &.is-invalid {
        border-color: $danger;
      }
      &:focus {
        background-color: $white;
      }
    }
  }
  + .react-datepicker {
    &__tab-loop {
      .react-datepicker-popper {
        z-index: 3;
      }
      .react-datepicker__triangle {
        left: 15% !important;
      }
    }
  }
}

.custom-checkbox {
    label {
        font-size: 14px;
        line-height: 1.5;
        a {
          text-decoration: underline;
        }
    }
    .custom-control-input {
        z-index: 1;
        &:checked {
            + label {
                &:before {
                    background-color: $success;
                    border-color: transparent;
                }
            }
            &:active {
              + label {
                &:before {
                    background-color: $success;
                    border-color: $success;
                }
              }
            }
        }
        &.is-invalid {
          + label {
            a {
              color: $danger;
            }
          }
        }
    }
    &.has-error {
        label {
            &:before {
                border-color: $danger;
                background-color: $danger-bg;
            }
        }
    }
}

.custom-radio {
    label {
        line-height: 1.5;
        font-size: 15px;
    }
    &.has-error {
        label {
            &:before {
                border-color: $danger;
                background-color: $danger-bg;
            }
        }
    }
}

.custom-file {
  position: relative;
  z-index: 1;
  &__remove {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 82px;
    line-height: 14px;
    font-size: 16px;
    color: $gray-500;
    z-index: 2;
    cursor: pointer;
  }
  label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 80px;
    padding-top: 10px;
    &:after {
      padding-top: 9px;
    }
  }
}