.header {
    @extend .navbar;
    @extend .navbar-light;
    padding: 14px 0;
    @include media-breakpoint-down(lg) {
        padding: 10px 0;
    }
    &__nav-toggler {
        @extend .navbar-toggler;
        display: flex;
        font-size: 32px;
        margin-left: 8px;
        .icon-menu,
        .icon-menu-close {
            color: $primary;
        }
        @include media-breakpoint-down(xs) {
            margin-left: 0px;
        }
    }
    &__desktop-logo {
        @extend .navbar-brand;
        position: absolute;
        top: 18px;
        @include media-breakpoint-down(lg) {
            top: 10px;
            img {
                width: 180px;
                height: 35px;
            }
        }
    }
    &__collapse-wrp {
        @extend .collapse;
        @extend .navbar-collapse;
        flex-direction: column;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        @include media-breakpoint-down(lg) {
            position: fixed;
            top: 0;
            right: -345px;
            bottom: 0;
            width: 100%;
            max-width: 345px;
            background-color: $white;
            transition: right 0.3s;
            z-index: 1100;
            &.show {
                display: flex;
                right: 0;
                overflow: hidden;
                overflow-y: auto;
                box-shadow: 10px 0 34px 0 rgba(0, 0, 0, 0.5);
            }
        }
    }
    &__nav {
        @extend .navbar-nav;
        $self: &;
        &-item {
            @extend .nav-item;
            &-link {
                @extend .nav-link
            }
        }
        &--main {
            #{ $self }-item {
                position: relative;
                #{ $self }-item-link {
                    padding-bottom: 0;
                }
                &-link {
                    @include media-breakpoint-up(xl) {
                        &:before {
                            display: block;
                            content: attr(title);
                            font-weight: 600;
                            height: 0;
                            overflow: hidden;
                            visibility: hidden;
                        }
                    }
                }
                &:hover,
                &.show {
                    #{ $self }-item-link {
                        color: $brand-dark;
                        font-weight: 600;
                        &:not(.secondary-nav).dropdown-toggle {
                            &:after {
                                border-top-color: $black;
                                font-weight: 400;
                            }
                        }
                        .dropdown-menu {
                            min-width: 0;
                        }
                    }
                }
                &-icon {
                    display: inline-block;
                    font-size: 30px;
                    color: $gray-200;
                    vertical-align: top;
                    transform: translateY(-6px);
                    @include media-breakpoint-down(lg) {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 15px;
                    }
                }
                &.dropdown {
                    @include media-breakpoint-up(xl) {
                        .dropdown-menu {
                            text-align: center;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    &--wide {
                        .dropdown-menu {
                            min-width: 710px;
                            left: 0;
                            transform: none;
                            @include media-breakpoint-down(lg) {
                                min-width: 100%;
                            }
                        }
                    }
                }
                @include media-breakpoint-down(lg) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid $gray-100;
                    #{ $self }-item-link {
                        color: $black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 65px;
                        width: 100%;
                    }
                    &.dropdown {
                        flex-wrap: wrap;
                        .dropdown-toggle:after {
                            font-family: 'icomoon';
                            content: '\e976';
                            border: none;
                            position: absolute;
                            top: 17px;
                            right: 15px;
                            font-size: 28px;
                            color: $gray-200;
                        }
                        .dropdown-menu {
                            width: 100%;
                            box-shadow: none;
                            background-color: $gray-custom;
                            border-radius: 0;
                            padding: 0;
                            border-top: 1px solid #e5e5e5;
                            .dropdown-item {
                                position: relative;
                                color: $black;
                                min-height: 48px;
                                &:not(.drawgames-card) {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                &:not(:last-of-type):after {
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: 90%;
                                    border-bottom: 1px solid $gray-300;
                                    opacity: 0.4;
                                }
                            }
                        }
                        &.show {
                            .dropdown-toggle:after {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-down(xxl) {
                flex-grow: 1;
                flex-shrink: 1;
                justify-content: space-between;
                padding-right: 80px;
                #{ $self }-item {
                    #{ $self }-item-link {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
            @include media-breakpoint-down(lg) {
                padding-right: 0;
            }
        }
        &--secondary {
            #{ $self }-item {
                #{ $self }-item-link {
                    font-size: 15px;
                    padding-left: 12px;
                    padding-right: 12px;
                    color: $gray-400;
                    @include media-breakpoint-down(lg) {
                        color: $black;
                    }
                    &:hover {
                        color: $gray-600;
                    }
                }
                &.dropdown {
                    transform: translateY(-2px);
                    .dropdown-toggle {
                        padding-right: 0;
                        &:after {
                            content: '\e965';
                            font-family: 'icomoon';
                            top: 0;
                            border: none;
                            font-size: 20px;
                            vertical-align: middle;
                        }
                    }
                    .dropdown-menu {
                        min-width: 0;
                    }
                }
            }
            .header-search {
                transform: translateY(1px);
                i {
                    position: relative;
                    font-size: 32px;
                    color: $gray-400;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 7px;
                        right: 0;
                        height: 55%;
                        border-right: 1px solid $gray-200;
                        @include media-breakpoint-down(lg) {
                            border-right: none;
                        }
                    }
                }
                @include media-breakpoint-down(lg) {
                    padding-left: 3px;
                }
            }
            @include media-breakpoint-down(lg) {
                padding: 10px 20px;
                .languages {
                    padding: 20px 12px;
                    .nav-link {
                        color: $gray-600;
                        font-size: 14px;
                        padding: 0 10px 0 0;
                        margin-right: 10px;
                        &:not(:last-of-type) {
                            border-right: 1px solid $gray-400;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -80px;
        right: -80px;
        border-bottom: 2px solid $gray-100;
        @include media-breakpoint-down(xl) {
            left: -45px;
            right: -45px;
        }
        @include media-breakpoint-down(lg) {
            left: -20px;
            right: -20px;
        }
        @include media-breakpoint-down(xs) {
            border-bottom: none;
        }
    }
    &__user-menu {
        position: relative;
        align-items: center;
        height: 65px;
        background-color: $gray-custom-100;
        border: 1px solid $gray-100;
        border-radius: 16px;
        padding-left: 16px;
        padding-right: 35px;
        @include media-breakpoint-down(lg) {
            background-color: transparent;
            height: 50px;
            border: none;
            padding-right: 0;
        }
        &-info {
            height: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            @include media-breakpoint-down(lg) {
                font-size: 13px;
            }
            &-balance {
                color: $light-black;
                font-weight: 500;
                @include media-breakpoint-down(lg) {
                    font-size: 12px;
                }
                span:first-of-type {
                    position: relative;
                    margin-right: 25px;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 7px;
                        right: -14px;
                        height: 3px;
                        width: 3px;
                        background-color: $primary;
                        border-radius: 50%;
                    }
                    @include media-breakpoint-down(lg) {
                        margin-right: 20px;
                        &:after {
                            right: -11px;
                            top: 5px;
                        }
                    }
                }
            }
        }
        &-toggle {
            @extend .dropdown-toggle;
            position: absolute;
            top: 0;
            right: 0;
            width: 27px;
            height: 100%;
            border: none;
            background-color: $primary-light;
            color: $white;
            font-size: 33px;
            padding: 0;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            @include media-breakpoint-down(lg) {
                display: none;
            }
            &:after {
                display: none;
            }
            &-icon {
                display: inline-block;
                transform: translateX(-3px) translateY(4px);
            }
        }
        &-icon {
            font-size: 38px;
            color: $primary;
        }
    }
}

.drawgames {
    flex-wrap: wrap;
    &__game {
        position: relative;
        display: flex;
        width: 160px;
        height: 75px;
        border-radius: 8px;
        margin: 5px;
        margin-bottom: 10px;
        @include media-breakpoint-down(lg) {
            width: calc(50% - 20px);
            margin: 10px;
        }
        &-img {
            margin: auto;
            width: 95px;
            height: 70px;
            z-index: 1;
        }
        &--red,
        &--red:hover {
            background: #ec1c24;
        }
        &--blue,
        &--blue:hover {
            background-color: #001367;
        }
        &--orange,
        &--orange:hover {
            background-color: #ec5d13;
        }
        &--black,
        &--black:hover {
            background-color: $black;
        }
        &--purple,
        &--purple:hover {
            background-color: #ca6edd;
        }
        &--yellow,
        &--yellow:hover {
            background-color: #fdc300;
        }
        &--yellow-dark,
        &--yellow-dark:hover {
            background-color: #cfad59;
        }
        &--red-light,
        &--red-light:hover {
            background-color: #fa5860;
        }
        &--blue-light,
        &--blue-light:hover {
            background-color: $primary;
        }
        &:hover {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.15);
                border-radius: 8px;
            }
        }
    }
    &.show {
        display: flex;
    }
}

.drawgames-card {
    position: relative;
    width: calc(50% - 10px);
    height: 116px;
    margin: 5px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 8px;
    @include media-breakpoint-down(lg) {
        &.dropdown-item {
            width: 100%;
        }
    }
    &--red,
    &--red:hover {
        background-color: #ec1c24;
    }
    &--blue,
    &--blue:hover {
        background-color: #001367;
    }
    &__img {
        position: absolute;
        left: 10px;
        width: 88px;
        height: 65px;
        transform: translateY(-14px);
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 25px;
        color: $white;
        font-weight: 600;
        &-small {
            position: relative;
            font-size: 10px;
            font-weight: 500;
            opacity: 0.7;
            &--icon {
                &:before {
                    font-family: 'icomoon';
                    content: "\e988";
                    position: absolute;
                    top: -10px;
                    left: -23px;
                    font-size: 26px;
                }
            }
        }
    }
    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: calc(50% - 2px);
        color: $white;
        font-weight: 500;
        font-size: 14px;
        background-color: rgba(255,255,255,0.2);
        border-radius: 8px;
        margin-top: 14px;
        &:hover {
            text-decoration: none;
            color: $white;
            background-color: rgba(255,255,255,0.25);
        }
    }
}

.user-menu {
    width: 336px;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 10px);
    background-color: $account-primary;
    text-align: center;
    padding: 25px 20px;
    padding-bottom: 0;
    z-index: 1100;
    &__list {
        padding-left: 0;
        &-item {
            position: relative;
            left: -20px;
            width: calc(100% + 40px);
            list-style: none;
            $self: &;
            &-link {
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 100%;
                color: rgba(255,255,255,0.85);
                height: 64px;
                padding: 0 20px;
                &--no-divider {
                    &:before {
                        display: none;
                    }
                }
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    border-bottom: 1px solid $gray-100;
                    opacity: 0.25;
                }
                &--toggler {
                    &:after {
                        font-family: 'icomoon';
                        content: '\e976';
                        border: none;
                        position: absolute;
                        top: 15px;
                        right: 10px;
                        font-size: 28px;
                        color: $gray-200;
                    }
                }
                &:hover {
                    text-decoration: none;
                    color: rgba(255,255,255,0.85);
                }
            }
            &:last-of-type {
                #{ $self }-link {
                    &:before {
                        height: 8px;
                        border-top: 1px solid $black;
                        border-bottom: 1px solid $black;
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
        &-sub-item {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 48px;
            background-color: $account-secondary;
            color: rgba(255,255,255,0.85);
            padding: 0 20px;
            &:not(:last-of-type):after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 92%;
                border-bottom: 1px solid $gray-300;
                opacity: 0.3;
            }
            &:hover {
                color: $white;
            }
        }
    }
    .club-card {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% + 40px);
            border-bottom: 1px solid $gray-100;
            opacity: 0.25;
        }
    }
    &:after {
        content: '';
        position: absolute;
        top: -7px;
        right: 7%;
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $account-primary;
        border-radius: 2px;
        @include media-breakpoint-down(lg) {
            right: 20.5%;
        }
        @include media-breakpoint-down(xs) {
            right: 59px;
        }
    }
    @include media-breakpoint-down(xs) {
        width: 95vw;
        right: -50px;
        left: auto;
        transform: none;
    }
}